
  <form class="form" [formGroup]="productForm" (submit)="addProduct()">
    <div class="card-body">
      <div class="form-group">

        <label for="exampleInputEmail1">Nombre de prenda</label>
        <input type="text" class="form-control" formControlName="titulo" class="form-control" id="exampleInputEmail1" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Descripción de la prenda</label>
        <input type="text"  formControlName="sinopsis" class="form-control" id="exampleInputPassword1" placeholder="Descripción">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Precio de la prenda</label>
        <input type="number"  formControlName="precio" class="form-control" id="exampleInputPassword1" placeholder="$ 00 COP">
      </div>
      <div class="form-group">
        <label for="exampleSelectBorder">Selecciona el tipo de prenda</label>
        <select  formControlName="tipo" class="custom-select form-control-border" id="exampleSelectBorder">
          <option>Superior</option>
          <option>Inferior</option>
        
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputFile">Carga la imagen uno</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="exampleInputFile" (change)="capturarFile($event)" formControlName="imagenUno">
            <label class="custom-file-label" for="exampleInputFile">Imagen Uno</label>
          </div>
         
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputFile">Carga la imagen dos</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="exampleInputFile" (change)="capturarFile($event)" formControlName="imagenDos">
            <label class="custom-file-label" for="exampleInputFile">Imagen Dos</label>
          </div>
        
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Carga la imagen tres</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="exampleInputFile" (change)="capturarFile($event)" formControlName="imagenTres">
            <label class="custom-file-label" for="exampleInputFile">Imagen Tres</label>
          </div>
        
        </div>
      </div>
   
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class="card-footer">
  <li routerLink="/dashboard/productos"  class= "fa-solid fa-rotate-left"></li> </div>