

<div  *ngFor="let prod of listProduct" class = "card-wrapper">
  <div class = "card">
    <!-- card left -->
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src = "{{prod.imagenUno}}" alt = "shoe image">
          <img src = "{{prod.imagenDos}}" alt = "shoe image">
          <img src = "{{prod.imagenTres}}" alt = "shoe image">

        </div>
      </div>
      <div class = "img-select">
        <div class = "img-item">
          <a href = "#" data-id = "1">
            <img src = "{{prod.imagenDos}}" alt = "shoe image">

          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "2">
            <img src = "{{prod.imagenTres}}" alt = "shoe image">

          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "3">
            <img src = "{{prod.imagenUno}}" alt = "shoe image">

          </a>
        </div>
       
      </div>
    </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 class = "product-title">{{prod.titulo}}</h2>
     
      <div class = "product-price">
        <p class = "new-price"> Precio: <span>${{prod.precio}} COP</span></p>

      </div>

      <div class = "product-detail">
        <h2>about this item: </h2>
        <p>{{prod.sinopsis}}</p>    
      </div>

      <div class = "purchase-info">
        <button routerLink="{{redirecPse}}/{{prod.titulo}}/{{prod.precio}}" type = "button" class = "btn">

        paga con PSE
        </button>
        
        <button routerLink="{{redirec}}/{{prod.titulo}}/{{prod.precio}}" type = "button" class = "btn">
          paga con daviplata</button>
      </div>


    </div>
  </div>
</div>

<br><br>