<section id="banner">
    <div class="contenido-banner">
        <h3><span>STAY CLOO <br></span>estilo <br>comodidad</h3>
        <div class="butons">
        <a (click)="femenino()" class="boton-empezar">Mujeres</a> 
        <a (click)="masculino()" class="boton-empezar">Hombres</a>
        </div>
    
    </div>
    

</section>

  <!-- Main content -->
  <section class="content">
      <div class="container-fluid">
          <h2 class="text-center display-4">StayCloo Store</h2>
          <div class="row">
              <div class="col-md-8 offset-md-2">
                  <form [formGroup]="searchForm" (submit)="getproduct()">
                      <div class="input-group">
                          <input type="search" formControlName = "busqueda"  class="form-control form-control-lg" placeholder="Type your keywords here">
                          <div class="input-group-append">
                              <button type="submit" class="btn btn-lg btn-default">
                                  <i class="fa fa-search"></i>
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <div class="product-container">
    
    <div *ngFor="let product of listProduct" class="product-card">

      <img src="{{product.imagenUno}}" alt="Product Name" class="product-image">
      <h3 class="product-name">{{product.titulo}}</h3>
      <p class="product-price">{{product.sinopsis}}</p>
      <div class="product-price">fecha :  {{product.fecha}}  </div>
      <div class="product-price"> Precio : $ {{product.precio}} COP  </div>
  
      <li class="fa-solid fa-cart-shopping"       [routerLink]="['/home/compras',(product.codigo_prod)]" >Comprar</li>


    </div>
      
   
     </div>