

<section id="banner">
    <div class="contenido-banner">
        <h3><span>STAY CLOO:</span>estilo <br>comodidad</h3>
        <a href="#" class="boton-empezar">Empezar</a>

    </div>
    <div></div>


</section>


<!--SECTION2-->
<div class="section2">
<section>
<em>Category</em>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Tempor incididunt ut labore…</p>
</section>
<section>
<span>
<img src="https://i.postimg.cc/ncbRDT90/card-1.jpg" alt="" loading="lazy">
<p>Candles</p>
</span>
<span>
<img src="https://i.postimg.cc/4ytW0Hq6/card-2.jpg" alt="" loading="lazy">
<p>Accessories</p>
</span>
<span>
<img src="https://i.postimg.cc/2SC0H6wW/card-3.jpg" alt="" loading="lazy">
<p>Gift Set</p>
</span>
</section>
</div>



<!--SECTION3-->
<div class="section3">
<section>
<figure><img src="https://i.postimg.cc/W1SXxvWH/01.jpg" alt="" loading="lazy"></figure>
</section>
<section>
<span>
<em>About Us</em>
<h1 class="title">We like to think of our wares as full sensory experiences!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
<p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
<a href="#" class="btn1">Contact Us</a>
</span>
</section>
</div>




<!--SECTION4-->
<div class="section4">
<section>
<span>
<em>Gift Cards</em>
<h1 class="title">The Self Discovery Collection</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</span>
</section>
<section>
<figure><img src="https://i.postimg.cc/bNx6HbQ8/02.jpg" alt="" loading="lazy"></figure>
</section>
</div>





















    

