/***************************
    CUSTOM SCROLL BAR
****************************/


*{
    margin :0 ;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 100px;
    background: #4d4d54;
    /* centrar todo */
    padding: 0 50px;
    color: #fff;
    /* los pone uno seguido del otro de manera horizontal */
    display:  flex;
    /* los seprara uno de otro */
    justify-content: space-between;
    align-items: center;

}



/* BANNER */
#banner{
    padding: 0 50px;
    background-image: url(https://res.cloudinary.com/decsantg/image/upload/v1678127365/keagan-henman-Won79_9oUEk-unsplash_gqqy7c.jpg);
    height: 50vh;
    background-size: cover;
    background-position:  center ;
    
    
}

#banner::before{
    content: "";
    background: rgba(77,77 ,92, 0.6);
    width: 100%;
    height: 45vh;
    left: 0;
}
.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 10px;
}
.contenido-banner h3 span{
    font-weight: 600;
}
.boton-empezar{
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
}
.boton-empezar:hover{
    background: #4d4d54;
}




*,html{
    scroll-behavior: smooth;
    }
    *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    :root{
    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;
    --white:#fff;
    --black:#131417;
    --gray:rgba(255,255,255,0.7);
    --lite:rgba(1,1,1,0.6);
    --palegreen:bla;
    --palepink:#ffe2e2;
    --paleblue:var(--black);
    --pink :#131417;
    --green:#131417;
    --blue:#131417;
    --default:'Josefin Sans', sans-serif;
    --title:'Cormorant Garamond', serif;
    --cursive:'Dancing Script', cursive;
    }
    ::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: var(--dark);
    }
    ::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    ::-webkit-scrollbar-corner {
    background: var(--paleblue);
    }
    
    
    
    
    /***************************
             DEFAULT
    ***************************/
    body{
    margin:0;
    overflow-x:hidden !important;
    font-family:var(--default);
    }
    
    a{
    text-decoration:none;
    transition:0.5s;
    outline:none !important;
    }
    
    em{
    color:gray;
    font-family:var(--cursive);
    }
    
    p{
    line-height:1.4em;
    }
    
    .title{
    font-family:var(--title);
    font-size:3em;
    color:var(--black);
    font-weight:200;
    }
    
    .btn1{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: black;
    background-color: var(--white);
    box-shadow: 4px 4px 0px 0px #131417;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-radius: 0px 0px 0px 0px;
    padding: 25px 50px;
    }
    
    .btn1:hover{
    background-color:black;
    color:var(--white);
    box-shadow: 6px 6px 0px 0px #BAD7DF;
    }
    
    @media (max-width:1000px){
    .title{
    font-size:1.5em;
    }
    .btn1{
    padding:15px 25px;
    display:block;
    width:180px;
    text-align:center;
    }
    }
    
    
    
    /***************************
             ANIMATIONS
    ***************************/
    .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
    }
    
    
    @-webkit-keyframes scroll {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(calc(-250px * 7));
    }
    }
    
    @keyframes scroll {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(calc(-250px * 7));
    }
    }
    .slider {
    background: white;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    }
    .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
    }
    .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
    }
    .slider::before {
    left: 0;
    top: 0;
    }
    .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    }
    .slider .slide {
    height: 100px;
    width: 250px;
    }
    
    
    
    /***************************
              HEADER
    ***************************/
    header{
    width:100%;
    background-color:var(--palepink);
    display:flex;
    }
    
    header a{
    color:var(--lite);
    }
    
    header a:hover{
    color:var(--black);
    }
    
    header section{
    width:100%;
    padding:0.5rem 2rem;
    font-size:14px;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
    header section span{
    padding:0 1rem;
    text-align:center;
    white-space:nowrap;
    }
    
    
    header span .fa{
    margin:0 5px;
    }
    
    header .btn1{
    padding:5px 10px !important;
    }
    
    @media (max-width:920px){
    header section:nth-child(1){
    display:none !important;
    }
    header section{
    padding:0.5rem 0rem;
    }
    } 
    
    @media  (max-width:361px){
    main{
    background-image:url("https://res.cloudinary.com/decsantg/image/upload/v1676338192/Imagen_de_WhatsApp_2023-02-13_a_las_18.39.30_hjhfq8.jpg");
  }
  
     header section span{
    padding:0 2px;
    }
    
    }
    
    
    
    
    
    
    
    
    /***************************
             NAVIGATION
    ***************************/
    .topnav {
    overflow: hidden;
    background-color:var(--white);
    }
    
    .topnav a {
    float:right;
    display: block;
    color: var(--lite);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight:400;
    }
    
    .topnav a:not(:first-child),.dropdown,#navbar a:not(:first-child){
    margin:15px;
    }
    
    #logo{
    float:left;
    display:flex;
    align-items:Center;
    pointer-events:none;
    }
    
    #logo b{
    position:relative;
    top:8px;
    left:5px;
    }
    
    #logo img{
    width:40px;
    position:relative;
    }
    
    #active,#navbar #active2{
    color:black;
    }
    
    .topnav .icon {
    display: none;
    position:absolute;
    right:10px;
    top:50px;
    }
    
    .dropdown, .sub-dropdown {
    float:right;
    overflow: hidden;
    }
    
    .dropbtn, .sub-dropbtn{
    transition:0.5s;
    }
    
    .dropdown .dropbtn,.sub-dropdown .sub-dropbtn  {
    font-size: 16px;    
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight:400;
    color: var(--lite);
    }
    
    .sub-dropdown {
    text-align:left !important;
    padding:0px 0px;
    margin:0 !important;
    float:none;
    border-bottom:1px solid rgba(1,1,1,0.05);
    }
    
    .sub-dropdown .fa{
    float:left;
    margin:0 10px;
    position:relative;
    top:3px;
    }
    
    .dropdown-content,.sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 111;
    border-top:2px solid var(--primary);
    }
    
    .sub-dropdown-content{
    right:100%;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    top:0;
    }
    
    .dropdown-content a,.sub-dropdown-content a {
    float: none;
    color: #464646;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin:0px !important;
    border-bottom:1px solid rgba(1,1,1,0.05);
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn,.sub-dropdown:hover .sub-dropbtn {
    color: var(--primary);
    }
    
    .dropdown-content a:hover,.sub-dropdown-content a:hover {
    color: var(--primary);
    }
    
    .dropdown:hover .dropdown-content,.sub-dropdown:hover .sub-dropdown-content {
    display: block;
    }
    
    @media screen and (max-width: 840px) {
    #logo{
    float:left;
    width:90%;
    }
    #logo img{
    float:left;
    top:0;
    }
    .topnav a:not(:first-child),.dropdown,#navbar a:not(:first-child){
    margin:0px;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn, .sub-dropdown .sub-dropbtn {
    display: none;
    }
    .topnav a.icon {
    float: right;
    display: block;
    }
    }
    
    @media screen and (max-width: 840px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
    .topnav.responsive .dropdown,.topnav.responsive .sub-dropdown {float: none;}
    .topnav.responsive .dropdown-content,.topnav.responsive .sub-dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn,.topnav.responsive .sub-dropdown .sub-dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    }
    .dropdown-content,.sub-dropdown-content {
    position: relative;
    }
    .sub-dropdown-content{
    right:0;
    }
    }
    
    @media (max-width:400px){
    .topnav .icon {
    top:50px;
    }
    }
    
    #navbar {
    background-color:var(--white);
    position: fixed;
    top: -180px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index:99999999999;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.2);
    }
    
    #navbar a {
    float: right;
    display: block;
    color: var(--lite);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight:400;
    }
    
    #navbar a:hover {
    color: var(--primary);
    }
    
    #logo2{
    float:left !important;
    }
    
    #logo2 img{
    width:40px;
    position:relative;
    }
    
    #logo2 b{
    position:relative;
    top:-7px;
    }
    
    #navbar .dropdown-content{
    min-width:160px !important;
    width:160px;
    }
    
    #navbar .dropdown-content a, #navbar .sub-dropdown-content a {
    display:block !important;
    width:100%;
    text-align:left;
    }
    
    @media (max-width:640px){
    #navbar{
    display:none !important;
    }
    }
    
    
    
    
    
    /***************************
               MAIN
    ***************************/
    main{
    width:100%;
    height:50vh;
    background-image:url("https://res.cloudinary.com/decsantg/image/upload/v1673390414/LOGO_1_w1h1nr.png");
    display:flex;
    align-items:center;
    justify-content:left;
    position:relative;
    background-color: #000;

    

    }
   
    
    
    
    main section{
    padding:4rem;
    width:60%;
    }
    
    main section em{
    font-size:2.5em;
    line-height:0;
    }
    
    @media (max-width:920px){
    main{
    flex-wrap:wrap;
    height:100%;
    padding:8rem 0;

    }
    main:after{
    content:"";
    background-size:cover;
    }
    main section{
    padding:1rem;
    width:100%;
    }
    main section em{
    font-size:1.5em;
    }
    }
    
    
    
    
    /*SECTION1*/
    .section1{
    width:90%;
    margin:auto;
    overflow:hidden;
    }
    
    
    
    
    /***************************
             SECTION2
    ***************************/
    .section2{
    display:flex;
    align-items:center;
    padding:3rem 0;
    }
    
    .section2 section{
    width:100%;
    padding:2rem;
    position:relative;
    }
    
    .section2 section:nth-child(1){
    width:40%;
    }
    

    .section2 section:nth-child(1) .title{
    line-height:0;
    white-space:nowrap;
    }
    
    .section2 section:nth-child(1) p{
    color:#131417;
    font-weight:300;
    }
    
    .section2 section:nth-child(2){
    display:flex;
    align-items:top;
    }
    
    .section2 section span{
    width:100%;
    margin:0 10px;
    position:relative;
    }
    
    .section2 section span:nth-child(2){
    top:4rem;
    }
    
    .section2 section span img{
    width:100%;
    }
    
    .section2 section span p{
    position:absolute;
    bottom:-4rem;
    width:90%;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,.2);
    padding:1rem 2rem;
    background-color:var(--white);
    font-size:2rem;
    text-align:center;
    left:50%;
    transform: translate(-50%, 0);
    font-weight:300;
    font-family:var(--title);
    box-shadow: 5px 5px 0px 0px var #131417 ;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #131417;
    border-radius: 0px 0px 0px 0px;
    }
    
    @media (max-width:1000px){
    .section2 section span p{
    font-size:1.5rem
    }
    }
    
    @media (max-width:820px){
    .section2{
    flex-wrap:wrap;
    }
    .section2 section{
    padding:1rem;
    }
    .section2 section:nth-child(1){
    width:100%;
    text-align:center;
    }
    .section2 section:nth-child(1) em{
    font-size:1.5em;
    }
    .section2 section:nth-child(2){
    flex-wrap:wrap;
    }
    .section2 section span{
    margin:10px 0;
    }
    .section2 section span:nth-child(2){
    top:0rem;
    }
    .section2 section span p{
    bottom:0;
    }
    }
    
    
    
    
    
    
    /***************************
              SECTION3
    ***************************/
    .section3{
    width:100%;
    padding:0rem 3rem;
    display:flex;
    align-items:center;
    }
    
    .section3 section{
    width:100%;
    position:relative;
    padding:2rem;
    }
    
    .section3 section img{
    width:100%;
    }
    
    .section3 section span{
    background-color: var(--white);
    box-shadow: 10px 10px 0px 0px var #131417;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #131417;
    border-radius: 0px 0px 0px 0px;
    padding: 25px 50px;
    display:block;
    transition:0.5s;
    }
    
    .section3 section span .title{
    font-size:1.5em;
    font-weight:400;
    }
    
    .section3 section span p{
    color:var(--lite);
    line-height:1.6em;
    font-weight:300;
    }
    
    .section3 section span .btn1{
    display:block;
    width:230px;
    text-align:center;
    }
    
    @media (max-width:1000px){
    .section3 section span{
    padding: 15px 30px;
    }
    }
    
    @media (max-width:820px){
    .section3{
    flex-wrap:wrap;
    padding:0;
    }
    .section3 section{
    padding:1rem;
    }
    .section3 section figure,.section3 section img{
    height:60vh;
    padding:0;
    margin:0;
    object-fit:cover;
    }
    .section3 section img{
    height:100%;
    }
    .section3 section span{
    padding:1rem;
    }
    }
    
    
    
    
    
    /***************************
              SECTION4
    ***************************/
    .section4{
    width:100%;
    padding:0rem 3rem;
    display:flex;
    align-items:center;
    }
    
    .section4 section{
    width:100%;
    position:relative;
    padding:2rem;
    }
    
    .section4 section figure{
    width:80%;
    margin:auto;
    }
    
    .section4 section img{
    width:100%;
    height:80vh;
    }
    
    .section4 section span{
    background-color: var(--white);
    box-shadow: -10px 10px 0px 0px var #131417;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-radius: 0px 0px 0px 0px;
    padding: 25px 50px;
    display:block;
    transition:0.5s;
    }
    
    .section4 section span .title{
    font-size:1.5em;
    font-weight:400;
    }
    
    .section4 section span p{
    color:var(--lite);
    line-height:1.6em;
    font-weight:300;
    }
    
    .section4 section span .btn1{
    display:block;
    width:230px;
    text-align:center;
    }
    
    @media (max-width:820px){
    .section4{
    flex-wrap:wrap;
    padding:2rem 0;
    }
    .section4 section{
    padding:1rem;
    }
    .section4 section figure,.section4 section img{
    height:60vh;
    padding:0;
    margin:0;
    object-fit:cover;
    }
    .section4 section:nth-child(2){
    height:100%;
    display:none;
    }
    .section4 section span{
    padding:1rem;
    }
    }
    
    

 
    
    
    
    
    
 
    
    
    
    
    /***************************
              FOOTER
    ***************************/
  